body {
  background-image: linear-gradient(
    180deg,
    rgba(177, 255, 250, 0.9),
    rgb(128, 215, 255)
  );
  background-attachment: fixed;
}
/* div {
  width: 100px;
  height: 100px;
  background-color: tomato;
  transition: all 2s;
}
div:hover {
  width: 200px;
  height: 300px;
  transform: scale(20, 20) rotate(180deg) skew(20deg);
}
input {
  color: red;
}
input:focus{
  color: white;
  background: red;
} */
.card {
  width: 0;
  height: 0;
  border-top: 100px solid #eee;
  border-right: 170px solid #ddd;
  border-bottom: 100px solid #ccc;
  border-left: 170px solid #ddd;
  margin: auto;
  margin-top: 10%;
}
.corazon {
  width: 32px;
  height: 32px;
  background-color: tomato;
  transform: translate(-50%, -50%) rotate(45deg);
  animation: latido 1.4s linear infinite;
}
.corazon:before {
  /*bolita del corazon derecho*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: tomato;
  transform: translateY(-50%);
  border-radius: 50%;
}
.corazon:after {
  /*bolita del corazon izquierdo*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: tomato;
  transform: translateX(-50%);
  border-radius: 50%;
}
@keyframes latido {
  0% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  30% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
  }
  50% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }
  70% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}
